---
import { Picture } from "astro:assets";
import heroImage from "@/assets/heroUA.png";
import Link from "@/components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pb-8 md:pb-24">
  <div class="py-6 md:order-1 order-0 ">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Sustainable Farming for a Healthier Tomorrow
    </h1>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="tel:+31641494158"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:phone" />
        Contact Us
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        alt="learn more"
        href="https://urgro.farm/about"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        Learn More
        <Icon class="text-black w-4 h-4" name="bx:chevron-right" />
      </Link>
    </div>
  </div>
</main>
